:root {
    --basic-font-size: 1rem;
    --left-align: left;
    --basic-pixel-margin: 5px;
    --basic-black-border: 1px solid black;
}

#resume-view {
    width: 210mm;
    height: 297mm;
    margin: auto;
    padding: 10mm;
    box-sizing: border-box;
    display: grid;
    gap: 1rem;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #1A1A1A;
}

.personalInfo {
    border-bottom: var(--basic-black-border);
    text-align: var(--left-align);
}

.personalInfo p{
    margin-bottom: 0.5rem;
}

.contactSection{
    text-align: var(--left-align);
    margin-bottom: 1.5rem;
}

.FAIcon{
    margin-right: 7px;
}

.contactSection ul li{
    margin-top: 3px;
}

.skills {
    text-align: var(--left-align);
}

.skillsGrid{
    display: flex;
    flex-wrap: wrap;
}
.skillsGrid div{
    padding: 0.5rem;
    border: 1px solid black;
    margin: 5px;
}

.workExperience {
    border-left: var(--basic-black-border);
    padding-left: var(--basic-font-size);
    text-align: var(--left-align);
    margin-bottom: 20px;
}

.projects {
    border-left: var(--basic-black-border);
    padding-left: var(--basic-font-size);
    text-align: var(--left-align);
    margin-bottom: 20px;
}

.education {
    border-left: var(--basic-black-border);
    padding-left: var(--basic-font-size);
    text-align: var(--left-align);
    margin-bottom: 20px;
}

.organizations {
    color: black;
}

.summary {
    text-align: left;
}

.languages {
    text-align: var(--left-align);
}
